<% location = Alchemy::Location.find_by_id(content.ingredient) %>
<% if content.ingredient.present? %>

  <% if options[:one_line] then %>
    <%= "#{location.title}, #{location.street} #{location.number}, #{location.postal_code} #{location.city}" %>

  <% elsif options[:title_only] then %>
    <%= location.title %>

  <% elsif options[:map] then %>
  <div class="map-container">
  <%= map(
      :container_id => "map-#{location.id}-#{content.id}",
      :center => {
      :latlng => [location.lat.to_f, location.lon.to_f],
      :zoom => options[:zoomlevel] ? options[:zoomlevel] : 15,
      },
      attribution: "<a href=\"http://www.openstreetmap.org/?mlat=#{location.lat}&mlon=#{location.lon}#map=15/#{location.lat}/#{location.lon}\" target=\"_blank\">#{I18n.t('views.footer.bigmap')}</a> | &copy; <a href=\"http://osm.org/copyright\">OpenStreetMap</a> #{I18n.t('views.footer.mapattribution')}",
      :markers => [
        {
           :latlng => [location.lat.to_f, location.lon.to_f],
           :popup => location.title
        }
      ]
  )%>
  </div>

  <% else %>
  <article itemscope itemtype="http://data-vocabulary.org/Organization">
  <p itemprop="name"><%= location.title %></p>
  <p itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
        <span itemprop="street-address"><%= "#{location.street} #{location.number}" %></span><br>
        <span itemprop="postal-code"><%= location.postal_code %></span>
        <span itemprop="locality"><%= location.city %></span>
  </p></article>
  <% end %>
<% end %>
